@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');


html {
    color: white;
    margin: 0px;
    padding: 0px;
}

.Contact {
    height: 150vh;
    background-image: linear-gradient(to right, RGB(80, 26, 184), RGB(131, 55, 198));
    background-repeat: repeat;
    background-size: cover;

    background-repeat: repeat;
}

h2 {
    text-align: center;

    font-family: 'Poppins';
    font-weight: bold;
    letter-spacing: 0.1em;

    font-size: 50px;


}

h4 {
    font-family: 'Roboto';
    font-size: 30px;
    letter-spacing: 1px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    ;
    width: 0px;
    animation: typing 3.5s steps(30, end) forwards, blink-caret 0.75s step-end infinite forwards;

}

.page {
    position: relative;
    border-radius: 20px;
    /* background-color: #955fff; */
    background-image: linear-gradient(to right, #955fff, #a725ee83);
    width: 75%;
    left: 13%;
    top: 5%;
    height: 75vh;
    border-color: transparent;
    /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */

    box-shadow: 10px 3px 20px black;
    padding: 10px;
}

p {
    font-family: 'Lato';
    padding: 20px;
    font-size: 20px;
    width: 0;
    /* Start width */

    animation: typing 3.5s 4s steps(30, end) forwards, blink-caret 0.75s step-end 5 forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    line-height: 0px;
}

.hr_top {
    margin-bottom: 50px;
}

.hr_bot {
    margin-top: 50px;
}

.form_page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 8px;
}

.form_page input {
    width: 30%;
    height: 40px;
    border: 1px solid black;
    border-radius: 7px;
    border: 0.1px solid white;
}

.but_text::placeholder {
    font-weight: bold;
}

button {
    float: right;
    height: 40px;
    width: 10%;
    border-radius: 20px;
    border: 0.1px solid white;
    margin: 20px;
}

@keyframes typing {
    from {
        width: 0px;
    }

    to {
        width: inherit;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}